Repository 2019-swpp-8/swpp, pull requests merged in 2019-05, with the labels that each got.

#25 Implement user sign up
  .gitattributes
  .travis.yml
  README.md
  backend/README.md
  backend/backend/settings.py
  backend/backend/urls.py
  backend/requirements.txt
  backend/swpp/forms.py
  backend/swpp/migrations/0007_auto_20190504_2155.py
  backend/swpp/template/base.html
  backend/swpp/tests.py
Labels: Backend, core feature

#27 Add Tutor Put Request
  backend/swpp/permissions.py
  backend/swpp/tests.py
  backend/swpp/view/tutor.py
Labels: Backend, enhancement

#31 Set Permission for Profile and Tutor
  backend/swpp/permissions.py
  backend/swpp/view/tutor.py
Labels: Backend, fix

#33 Add test result screenshots
  wiki/0506-coverage.png
  wiki/0506-travis-details.png
  wiki/0506-travis.png
Labels: hw progress, progress report

#40 Add Tutor Search Filter
  backend/backend/settings.py
  backend/requirements.txt
  backend/swpp/tests.py
  backend/swpp/view/tutor.py
Labels: Backend, enhancement

#42 UserCurrent view 구현
  backend/swpp/tests.py
  backend/swpp/urls.py
  backend/swpp/view/user.py
  backend/swpp/views.py
Labels: Backend, enhancement

#46 프런트엔드 로그인/로그아웃 구현
  backend/backend/settings.py
  frontend/README.md
  frontend/src/components/App.js
  frontend/src/components/atoms/LoginButton/index.js
  frontend/src/components/atoms/LogoutButton/index.js
  frontend/src/components/molecules/LoginLogout/index.js
  frontend/src/components/pages/HomePage/index.js
  frontend/src/config.js
  frontend/src/containers/HomePage.js
  frontend/src/index.js
  frontend/src/store/user/actions.js
  frontend/src/store/user/reducer.js
  frontend/src/store/user/sagas.js
  frontend/webpack.config.js
Labels: Backend, Frontend, core feature

#47 Enabled filtering of tutors based on times
  backend/swpp/model/times.py
  backend/swpp/tests.py
  backend/swpp/urls.py
  backend/swpp/view/profile.py
  backend/swpp/view/times.py
  backend/swpp/view/tutor.py
Labels: Backend, core feature

#51 프런트엔드 bootstrap 설치
  backend/swpp/template/rest_framework/login.html
  frontend/package-lock.json
  frontend/package.json
  frontend/scss/_custom.css
  frontend/scss/swpp.scss
  frontend/src/components/atoms/LoginButton/index.js
  frontend/src/components/atoms/LogoutButton/index.js
  frontend/src/components/molecules/LoginLogout/index.js
  frontend/src/components/organisms/NavBar/index.js
  frontend/src/components/pages/HomePage/index.js
  frontend/src/index.js
  frontend/webpack.config.js
Labels: Frontend, enhancement

#52 간단한 frontend Profile 인터페이스
  backend/swpp/migrations/0010_profile_name.py
  backend/swpp/model/profile.py
  backend/swpp/permissions.py
  backend/swpp/serializer/profile.py
  backend/swpp/tests.py
  frontend/src/components/App.js
  frontend/src/components/organisms/NavBar/index.js
  frontend/src/components/pages/ProfilePage/index.js
  frontend/src/containers/ProfilePage.js
  frontend/src/store/profile/actions.js
  frontend/src/store/profile/reducer.js
  frontend/src/store/profile/sagas.js
Labels: Backend, Frontend, core feature

#60 Frontend 튜터 검색
  backend/swpp/serializer/tutor.py
  backend/swpp/tests.py
  frontend/src/components/atoms/TutorRow/index.js
  frontend/src/components/pages/TutorListPage/index.js
  frontend/src/store/tutorlist/sagas.js
Labels: Frontend, core feature

#62 Frontend 테스트 및 coverage
  .travis.yml
  README.md
  backend/README.md
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/private/jest/componentsMock.js
Labels: Frontend, core feature

#63 Search tutor with lecture
  backend/swpp/serializer/tutor.py
  backend/swpp/serializers.py
  backend/swpp/tests.py
  backend/swpp/view/tutor.py
Labels: Backend, core feature

#64 모든 frontend component에 대한 test case 구현
  frontend/src/components/atoms/LoginButton/index.test.js
  frontend/src/components/atoms/LogoutButton/index.test.js
  frontend/src/components/atoms/RegisterButton/index.test.js
  frontend/src/components/atoms/TutorRow/index.test.js
  frontend/src/components/molecules/LoginLogout/index.test.js
  frontend/src/components/organisms/NavBar/index.test.js
  frontend/src/components/pages/HomePage/index.test.js
  frontend/src/components/pages/ProfileEditPage/index.test.js
  frontend/src/components/pages/ProfilePage/index.test.js
  frontend/src/components/pages/TutorListPage/index.js
  frontend/src/components/pages/TutorListPage/index.test.js
  frontend/src/config.js
Labels: Frontend, enhancement

#65 Profile 및 tutor 정보 불러올 때 로딩 표시
  frontend/src/store/profile/sagas.js
Labels: Frontend, enhancement

#70 프로파일 수정 기능
  backend/swpp/serializer/profile.py
  frontend/src/components/atoms/TutorRow/index.js
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/ProfileEditPage/index.test.js
  frontend/src/components/pages/TutorListPage/index.js
  frontend/src/containers/ProfileEditPage.js
  frontend/src/store/profile/actions.js
  frontend/src/store/profile/sagas.js
Labels: Backend, Frontend, core feature
