Repository 2019-swpp-8/swpp, pull requests merged in 2019-06, with the labels that each got.

#74 Add Request Page
  backend/swpp/tests.py
  backend/swpp/urls.py
  backend/swpp/view/request.py
  backend/swpp/view/tutor.py
  frontend/src/components/App.js
  frontend/src/components/atoms/TutorRow/index.js
  frontend/src/components/pages/RequestPage/index.js
  frontend/src/components/pages/RequestPage/index.test.js
  frontend/src/components/pages/TutorListPage/index.js
  frontend/src/containers/RequestPage.js
  frontend/src/store/request/actions.js
  frontend/src/store/request/reducer.js
  frontend/src/store/request/sagas.js
Labels: Backend, Frontend, bug, core feature

#76 오래된 npm dependency 업데이트
  frontend/package-lock.json
  frontend/package.json
Labels: Frontend, bug, fix

#80 프런트엔드 튜터 정보 편집 기능
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/ProfileEditPage/index.test.js
  frontend/src/containers/ProfileEditPage.js
  frontend/src/store/profile/actions.js
  frontend/src/store/profile/reducer.js
  frontend/src/store/profile/sagas.js
  frontend/src/store/tutor/actions.js
  frontend/src/store/tutor/sagas.js
Labels: Frontend, core feature, enhancement

#81 Request
  backend/swpp/migrations/0013_auto_20190603_1739.py
  backend/swpp/migrations/0014_auto_20190614_2241.py
  backend/swpp/model/profile.py
  backend/swpp/model/request.py
  backend/swpp/model/tag.py
  backend/swpp/model/times.py
  backend/swpp/model/tutor.py
  backend/swpp/models.py
  backend/swpp/serializer/profile.py
  backend/swpp/serializer/request.py
  backend/swpp/serializer/tag.py
  backend/swpp/serializer/times.py
  backend/swpp/serializer/tutor.py
  backend/swpp/serializers.py
  backend/swpp/tests.py
  backend/swpp/view/profile.py
  backend/swpp/view/request.py
  backend/swpp/view/tag.py
  backend/swpp/view/times.py
  backend/swpp/view/tutor.py
  backend/swpp/views.py
Labels: Backend, core feature

#85 Fix frontend request regression
  backend/swpp/view/request.py
Labels: Backend, fix

#89 시간대 visualization 및 수정 기능 구현
  LICENSE
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/react-week-scheduler.css
  frontend/src/components/lib/DayHeader/index.js
  frontend/src/components/lib/LICENSE
  frontend/src/components/lib/QuarterCell/index.js
  frontend/src/components/lib/TimeRow/index.js
  frontend/src/components/lib/WeeklyScheduler/index.js
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/ProfileEditPage/index.test.js
  frontend/src/components/pages/ProfilePage/index.js
  frontend/src/store/profile/sagas.js
  frontend/src/store/tutor/actions.js
  frontend/src/store/tutor/reducer.js
  frontend/src/store/tutor/sagas.js
Labels: Frontend, core feature

#93 Request 신청에 시간대 ui 적용
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/RequestPage/index.js
  frontend/src/components/pages/RequestPage/index.test.js
Labels: Frontend, enhancement

#91 profile page show requests correctly
  backend/swpp/serializer/profile.py
  backend/swpp/serializer/request.py
  backend/swpp/serializer/tutor.py
  frontend/package-lock.json
  frontend/src/components/atoms/RequestRow/index.js
  frontend/src/components/atoms/RequestRow/index.test.js
  frontend/src/store/requestlist/sagas.js
Labels: Frontend, fix

#94 Add Profile Lecture List
  backend/swpp/serializer/tutor.py
  backend/swpp/view/tutor.py
  frontend/src/components/atoms/SearchLecture/index.js
  frontend/src/components/atoms/SearchLecture/index.test.js
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/ProfileEditPage/index.test.js
  frontend/src/components/pages/ProfilePage/index.js
  frontend/src/components/pages/ProfilePage/index.test.js
  frontend/src/containers/ProfileEditPage.js
  frontend/src/store/searchlecture/actions.js
  frontend/src/store/searchlecture/reducer.js
  frontend/src/store/searchlecture/sagas.js
  frontend/src/store/tutor/actions.js
  frontend/src/store/tutor/reducer.js
  frontend/src/store/tutor/sagas.js
Labels: Frontend, core feature

#96 머지 오류 수정
  frontend/src/components/pages/ProfileEditPage/index.test.js
  frontend/src/store/profile/sagas.js
  frontend/src/store/tutor/actions.js
  frontend/src/store/tutor/sagas.js
Labels: Frontend, fix

#98 Add Profile Contact to Profile Page
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/ProfilePage/index.js
  frontend/src/components/pages/ProfilePage/index.test.js
  frontend/src/store/profile/actions.js
  frontend/src/store/profile/reducer.js
  frontend/src/store/profile/sagas.js
Labels: Frontend, enhancement

#99 backend에 강의명 검색 구현
  backend/swpp/tests.py
  backend/swpp/view/tutor.py
  frontend/package-lock.json
Labels: Backend, fix

#100 튜터 신청 시 시간대 인터페이스 개선
  frontend/public/react-week-scheduler.css
  frontend/src/components/lib/WeeklyScheduler/index.js
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/ProfilePage/index.js
  frontend/src/components/pages/RequestPage/index.js
Labels: Frontend, enhancement

#101 Make request lecture + Request Page Redirecting
  frontend/src/components/atoms/SearchLecture/index.js
  frontend/src/components/pages/ProfileEditPage/index.test.js
  frontend/src/components/pages/ProfilePage/index.js
  frontend/src/components/pages/RequestPage/index.js
  frontend/src/components/pages/RequestPage/index.test.js
  frontend/src/containers/RequestPage.js
Labels: Frontend, enhancement, fix

#102 튜터링 요청의 시간대 표시 기능
  frontend/public/index.html
  frontend/public/react-week-scheduler.css
  frontend/src/components/atoms/RequestRow/index.js
  frontend/src/components/pages/ProfilePage/index.js
Labels: Frontend, enhancement

#104 여러가지 UI 개선
  frontend/src/components/atoms/RequestRow/index.js
  frontend/src/components/pages/HomePage/index.js
  frontend/src/components/pages/HomePage/index.test.js
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/ProfilePage/index.js
  frontend/src/components/pages/ProfilePage/index.test.js
  frontend/src/containers/HomePage.js
  frontend/src/containers/ProfilePage.js
Labels: Frontend, enhancement

#105 상단바에 유저네임 대신 이름 표시하기
  frontend/src/components/molecules/LoginLogout/index.js
  frontend/src/components/molecules/LoginLogout/index.test.js
  frontend/src/components/organisms/NavBar/index.test.js
  frontend/src/store/user/actions.js
  frontend/src/store/user/reducer.js
  frontend/src/store/user/sagas.js
Labels: Frontend, enhancement

#107 Search Lecture를 Dropdown형식으로 변경
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/SearchLecture/index.js
  frontend/src/components/atoms/SearchLecture/index.test.js
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/RequestPage/index.js
  frontend/src/components/pages/RequestPage/index.test.js
  frontend/src/containers/ProfileEditPage.js
  frontend/src/containers/RequestPage.js
  frontend/src/store/searchlecture/actions.js
  frontend/src/store/searchlecture/reducer.js
  frontend/src/store/searchlecture/sagas.js
Labels: Frontend, enhancement, fix

#108 Notification updates
  backend/swpp/tests.py
  backend/swpp/view/request.py
Labels: Backend, enhancement, fix

#109 비로그인시 신청 버튼이 로그인 페이지로 이동함
  frontend/src/components/atoms/TutorRow/index.js
  frontend/src/components/pages/TutorListPage/index.js
Labels: Frontend, fix

#110 프런트엔드 시간대 튜터 검색 필터 구현
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/TutorListPage/index.js
  frontend/src/components/pages/TutorListPage/index.test.js
  frontend/src/store/tutorlist/actions.js
  frontend/src/store/tutorlist/sagas.js
Labels: Frontend, core feature

#113 Frontend 리스트에 표 대신 카드 인터페이스 사용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/RequestRow/index.js
  frontend/src/components/atoms/TutorRow/index.js
  frontend/src/components/pages/HomePage/index.js
  frontend/src/components/pages/TutorListPage/index.js
Labels: Frontend, enhancement

#114 Profile에서 같은 Lecture가 여러번 입력되는 문제가 있었습니다.
  frontend/src/components/pages/ProfileEditPage/index.js
Labels: Frontend, fix

#115 이름으로 검색 기능 추가
  backend/swpp/view/request.py
  backend/swpp/view/tutor.py
  frontend/src/components/pages/TutorListPage/index.js
  frontend/src/store/tutorlist/actions.js
  frontend/src/store/tutorlist/sagas.js
Labels: Backend, Frontend, enhancement

#116 RnS update
  wiki/[8조] Requirments and Specification.pdf
Labels: hw

#118 이제 tutor list가 profile__name에 대해 가나다순으로 정렬됩니다.
  backend/swpp/model/tutor.py
  backend/swpp/tests.py
  backend/swpp/view/tutor.py
Labels: Backend, enhancement

#119 튜터 등록을 위해 수강 과목이 필요하다는 설명 추가
  frontend/src/components/pages/ProfileEditPage/index.js
Labels: Frontend, enhancement

#120 알림 새로고침 기능 추가
  frontend/src/components/pages/NoteListPage/index.js
Labels: Frontend, enhancement

#121 알림을 모두 확인하는 버튼을 추가했습니다.
  frontend/src/components/pages/NoteListPage/index.js
  frontend/src/containers/NoteListPage.js
  frontend/src/store/notification/actions.js
  frontend/src/store/notification/reducer.js
  frontend/src/store/notification/sagas.js
Labels: Frontend, enhancement

#122 Request 순서 뒤집기
  frontend/src/components/atoms/RequestRow/index.js
  frontend/src/components/pages/HomePage/index.js
Labels: Frontend, enhancement

#123 백엔드에서 status를 int로 명시적으로 변환해주었습니다.
  backend/swpp/view/request.py
  frontend/src/components/atoms/RequestRow/index.js
  frontend/src/components/atoms/RequestRow/index.test.js
Labels: Backend, Frontend, fix

#127 상단바에 알림 개수 표시, 여러가지 UI 최적화
  frontend/src/components/atoms/NoteButton/index.js
  frontend/src/components/atoms/NoteRow/index.js
  frontend/src/components/atoms/RequestRow/index.js
  frontend/src/components/atoms/SearchLecture/index.js
  frontend/src/components/atoms/TutorRow/index.js
  frontend/src/components/atoms/TutorRow/index.test.js
  frontend/src/components/organisms/NavBar/index.js
  frontend/src/components/pages/HomePage/index.js
  frontend/src/components/pages/NoteListPage/index.js
  frontend/src/components/pages/ProfileEditPage/index.js
  frontend/src/components/pages/ProfilePage/index.js
  frontend/src/components/pages/RequestPage/index.js
  frontend/src/components/pages/TutorListPage/index.js
  frontend/src/containers/HomePage.js
  frontend/src/containers/ProfileEditPage.js
  frontend/src/containers/ProfilePage.js
  frontend/src/containers/RequestPage.js
  frontend/src/containers/TutorListPage.js
  frontend/src/store/notification/sagas.js
Labels: Frontend, enhancement, fix

#130 [긴급] npm 'uncontrollable' 패키지 upstream 버그 우회
  frontend/package-lock.json
  frontend/package.json
Labels: fix
